<h1>Comment#edit</h1>
<p>Find me in app/views/comment/edit.html.erb</p>

<div class = "text-center"><a href="<%= comment_path(@comment.id) %>" class="btn btn-danger" data-confirm="Etes vous sur de vouloir supprimer ce commentaire?" data-method='DELETE'>Détruire à jamais ce commentaire</a></div>
