<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <div class="col justify-content-center ">
    <div class="text-center "><h1>Tu veux nous contacter ?</h1></div>
    <div class="text-center "><p>Pas de bol on est en vacances hihi love</p></div>
  </div>
  </body>
</html>