<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Hello de la part de la super team :)</h1>
    <p>Bon qu'est-ce qu'on fait ? Bah on mange des paquerettes</p>
  </body>
</html>