<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <div class="col justify-content-center ">
    <div class="text-center "><h1>Hello de la part de la super team :)</h1></div>
    <div class="text-center "><p>Bon qu'est-ce qu'on fait ? Bah on mange des paquerettes</p></div>
  </div>
  </body>
</html>