<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <br />
    <div class="row justify-content-center ">
      <h1>Balance le nouveau potin :</h1>
    </div>
    <br />
    <div class="container-potin row justify-content-center ">
      <div class="card mt-2 text-center" style="width: 20rem;">
        <div class="card-body">
          <%= form_tag url_for(action: 'create'), method: "post" do %>
            <label for="fname">Titre: </label>
            <input type="text" name="gossip_title">
            <br /> 
            <label for="fname">Contenu: </label>
            <input type="text" name="gossip_content">
            <br />
            <%= submit_tag "Enregistrer Potin" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>